.nav-container{
    background-color: #D8F1E4CC;
    
    height: 65px;
  
}

.nav_link:hover{
     border-bottom: 2px solid #5A3D2BB2;
    border-radius: 1px;
    
}
/* .nav_link:first-child{
    border-bottom: 2px solid #5A3D2BB2;
    border-radius: 1px;
} */
.button:focus {
    outline:none;
    box-shadow: none;
  }
  



.nav_link{
    color: #000000;
    font-family: 'Karla';
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 35px;
    text-decoration: none;  
  
}


.nav_link:hover{
    color: #000000;
    
}
.logo2 img{
  line-height:20px ;
  margin-top: 6px;
}

.me-auto{
    margin-left: 14rem;
    text-align: center;
}
.logo2{
    margin-right: 35px;  
}


.btn{
    text-decoration: none;
    margin-bottom: 2px;
  
   
}
.arrow{
    
    margin-left: 3px;
    font-size: 1.5rem;

  
}



.toggle{
   position: absolute;
   left: 80%;
   box-shadow: none !important;
   top: 20%;
}


.button{
	box-shadow: none !important
}
/* media query */


@media only screen and (max-width: 1024px) {
   .nav_link{margin-right: 27px;}
}


@media only screen and (max-width: 991px) {
  
 .me-auto{
  
  padding-left: 2em;
  background-color: #D8F1E4CC;
  text-align: left;
 margin-left: 0px;
  margin-top: -4px;
  


}

.nav_link{
    margin: 0 auto;
    padding: 8px;
}
 .logo2{
     margin: 0 auto;
     padding-top: 8px;
     padding-bottom: 8px;
 }
 .btn{
     margin: 0 auto;
 }
 .nav-container{
     width: 100%;
 }
 .main_logo{
   margin-top: -5px;
}
 
  }

